<!DOCTYPE html>
<!--
    参考サイト：
    https://reffect.co.jp/vue/vue-js-basic/
-->
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Vue</title>
  </head>
  <body>
    <div id="app">
        <!-- v-if -->
        <div>
            <p v-if="stock_number > 0">販売中！</p>
            <p v-else>在庫切れ！</p>
            <!-- 別の要素が挟まるとそこでifは終わり。結果がtrueなら「販売中」は出力されるが、elseだった場合は何も表示されず -->
            <p v-if="stock_number > 0">販売中だよ！</p>
            <p>別の要素が挟まったらどうなる？</p>
            <p v-else>在庫切れだよ！</p>
            <template v-if="stock_number > 0">
                <p>絶賛販売中</p>
                <p>残るは{{ stock_number }}個となります！</p>
            </template>
        </div>
        <!-- v-show -->
        <div>
            <p v-show="stock_number > 0">販売中です</p>
        </div>
        <!-- v-for -->
        <div>
            <ul>
                <li v-for="game in games">{{game}}</li>
            </ul>
            <ul>
                <!-- in ではなく of でもOK -->
                <li v-for="likeGame of likeGames">{{likeGame.title}}({{likeGame.series}})</li>
            </ul>
            <ul>
                <!-- 複数取り出すこともできて、第１引数にはオブジェクト、第２引数の変数にはインデックスを格納してくれる（変数名は任意） -->
                <li v-for="(likeGame, hoge) in likeGames">{{hoge}}:{{likeGame.title}}({{likeGame.series}})</li>
            </ul>
            <ul>
                <!-- オブジェクト->オブジェクト なら、第２引数にキー名、第３引数にインデックス（同様に変数名は任意） -->
                <li v-for="(chara, name, index) in ariseCharacter">
                    {{index}}:{{name}}({{chara.gender}}):{{chara.weapon}}
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          stock_number: 5,
          games: ['tales', 'pokemon', 'gundam', 'apex'],
          likeGames: [
            { id: 1, title: 'arise', series: 'tales'},
            { id: 2, title: 'sv', series: 'pokemon'},
            { id: 3, title: 'exvs mbon', series: 'gundam'},
            { id: 4, title: 'apex', series: 'apex'},
          ],
          ariseCharacter: {
            arufen: {
                weapon: 'sword',
                gender: 'man'
            },
            shion: {
                weapon: 'gun',
                gender: 'woman'
            },
            rinwel: {
                weapon: 'magic',
                gender: 'woman'
            },
            row: {
                weapon: 'fist',
                gender: 'man'
            }
          }
        },
      });
    </script>
  </body>
</html>